/* Imports all fonts from the Fonts folder */
@font-face {
  font-family: defaultFont;
  src: url('Fonts/Abel-Regular.ttf');
}

/* global variables */
:root {
  --introductionheight: 100vh;
  --mainColor: #009bad;
  --alternateColor: #37393a;
  --whiteColor: #fefefe
}

/* Global settings and classes*/
body{
  margin:0;
  font-family: sans-serif;
  color:#545758;
  background-color: var(--whiteColor);
}

div{
  margin:0;
  text-align: center;
  border:0;
}

a {
  text-decoration: none;
  color: var(--mainColor);
}

p {
  line-height: 1.3;
}

.mainColor{
  color:var(--mainColor);
}

.large {
  font-size: 50px;
}

.regular {
  font-size:30px;
}

.small {
  font-size:20px;
}

.noMargin {
  margin: 0;
}

.topAndBottomMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.verticallyCentre {
  display: flex;
  align-items: center;
}

.rightAlign {
  display: flex;
  justify-content: flex-end;
}

.underline {
  border-bottom: 2px solid var(--mainColor);
}

.underlineWhite{
  border-bottom: 2px solid var(--whiteColor);
  color: var(--whiteColor);
}

.projectImageSize {
  width: 80%;
}

.imageMargin {
  margin: 15%;
}

.location {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

/* Header section */
#header {
  display:grid;
  grid-template-columns:100%;
  border-bottom: .1em solid var(--alternateColor);
  position: fixed;
  width: 100vw;
}

#titleheader {
  font-size: 30px;
  margin-bottom: .75em;
  margin-top: .75em;
}

/* Introduction section */
#particles-js{
  /* background gradient made using https://cssgradient.io/ */
  background: linear-gradient(30deg, rgba(254,254,254,1) 58%, rgba(0,155,173,1) 100%);
  position: absolute;
  z-index: -10;
  height: var(--introductionheight);
  width: 100%;
}

#profile-pic {
  height: 25em;
  border-radius: 50%;
  transform: rotate(180deg);
}

.introductionText {
  text-align: right;
  padding: 1em;
  padding-left: 25%;
  /* padding-right: 5%;
  background-color: #ddd; */
}

.intro-grid {
  display:grid;
  grid-template-columns:50% 50%;
  height: var(--introductionheight);
}

/* navigation section */
.navigation {
  /* border-top: 0.1em solid var(--alternateColor); */
  /* border-bottom: 0.1em solid var(--alternateColor); */
  background-color: var(--alternateColor);
  display: grid;
  grid-template-columns: 35% 50%;
  color: var(--whiteColor);
  padding: 40px 0;
}

#gear {
  width: 200px;
  padding-right: 1em;
}

.navigationText {
  text-align: left;
  line-height: 1.5;
  padding-right: 20%;
}

.lineBox {
  height: 10px;
  background-color: var(--whiteColor);
  width: 75%;
  margin: 20px 0px;
}

/* Project section */
.projectHeader {
  border-bottom: 3px solid var(--alternateColor);
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 10px;
  width: 20%;
}

/* general project outline */
.project {
  margin: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
  height: auto;
  display: grid;
  grid-template-columns: 45% 55%;
}

.projectHeading {
  text-align: left;
  font-size: 40px;
}

.projectInformation {
  border-left: 4px solid var(--alternateColor);
  padding-left: 5%;
}

.projectParagraph {
  text-align: left;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.iconFormatting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-top: 0;
}

/* general project outline (reverse) */
.project2 {
  margin: 0;
  margin-right: 10%;
  margin-left: 10%;
  height: auto;
  display: grid;
  grid-template-columns: 55% 45%;
}

.projectHeading2 {
  text-align: right;
  font-size: 40px;
}

.projectInformation2 {
  border-right: 4px solid var(--alternateColor);
  padding-right: 5%;
}

.projectParagraph2 {
  text-align: right;
}

.icons2 {
  display: flex;
  justify-content: flex-end;
}

/* resume heading*/
.resume {
  color: #eee;;
  height: auto;
  background: #009bad;
}

.resumeHeader{
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  width: 20%;
}

/* Resume sections */
.resumeSection{
  margin: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
  height: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-row-gap: 30px;
}

.resumeSectionHeader {
  margin: 10px 0px;
  padding: 5px;
  background-color: var(--whiteColor);
  color: var(--mainColor);
}

.institutionName {
  font-size: 18px;
  margin: 14px 0px;
  padding-right: 25%;
}

.resumeSectionCourse {
  text-align: left;
  font-size: 16px;
}

.resumeParagraph {
  text-align: left;
  font-size: 16px;
  padding-right: 25%;
  margin 0;
}

.location {
  margin: 10px 0px;
}

.locationFormatting {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-right: 10px;
  padding-top: 1px;
}

.resumeLeftJustify {
  text-align: left;
  padding-left: 30%;
}

.rightMargin {
  margin-right: 20px;
}


.downloadResume {
  margin-top: 60px;
}

.resumeButton {
  background-color: var(--whiteColor);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 100px;
  color: var(--mainColor);
}

.end {
  height: auto;
  background-color: var(--whiteColor);
  padding: 2%;
  display: flex;
  justify-content: center;
}
