/* Imports all fonts from the Fonts folder */
@font-face {
  font-family: defaultFont;
  src: url('Fonts/Abel-Regular.ttf');
}

/* global variables */
:root {
  --introductionheight: 38em;
  --mainColor: #009bad;
  --alternateColor: #37393a;
}

/* Global settings and classes*/
body{
  margin:0;
  font-family: 'defaultFont';
  color:#545758;
}

div{
  margin:0;
  text-align: center;
  border:0;
}

a {
  text-decoration: none;
  color: var(--mainColor);
}

.mainColor{
  color:var(--mainColor);
}

.large {
  font-size: 50px;
}

.regular {
  font-size:30px;
}

.small {
  font-size:20px;
  text-indent: 10%;
}

.noMargin {
  margin: 0;
}

.topAndBottomMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.verticallyCentre {
  display: flex;
  align-items: center;
}

.rightAlign {
  display: flex;
  justify-content: flex-end;
}

.underline {
  border-bottom: 1.5px solid var(--mainColor);
}

.projectImageSize {
  width: 80%;
}

.imageMargin {
  margin: 15%;
}

/* Header section */
#header {
  height: 20%;
  display:grid;
  grid-template-columns:100%;
  border-bottom: .1em solid var(--alternateColor);
}

#titleheader {
  font-size: 40px;
  margin-bottom: .75em;
  margin-top: .75em;
}

/* Introduction section */
#particles-js{
  /* background gradient made using https://cssgradient.io/ */
  background: linear-gradient(45deg, rgba(255,255,255,1) 47%, rgba(110,198,208,1) 84%, rgba(0,155,173,1) 100%);
  position: absolute;
  z-index: -10;
  height: var(--introductionheight);
  width: 100%;
}

#profile-pic {
  height: 25em;
  border-radius: 50%;
}

.introductionText {
  text-align: right;
  padding: 1em;
  padding-left: 25%;
  /* padding-right: 5%;
  background-color: #ddd; */
}

.intro-grid {
  display:grid;
  grid-template-columns:50% 50%;
  height: var(--introductionheight);
}

/* navigation section */
.navigation {
  height: 450px;
  border-top: 0.1em solid var(--alternateColor);
  border-bottom: 0.1em solid var(--alternateColor);
  display: grid;
  grid-template-columns: 35% 50%;
}

#gear {
  width: 300px;
  padding-right: 1em;
}

.navigationText {
  text-align: left;
}

.lineBox {
  height: 15px;
  background-color: var(--alternateColor);
  width: 75%;
}

/* Project section */
.projectHeader {
  border-bottom: 3px solid var(--alternateColor);
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 10px;
  width: 20%;
}

/* general project outline */
.project {
  margin: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
  height: auto;
  display: grid;
  grid-template-columns: 45% 55%;
}

.projectHeading {
  text-align: left;
  font-size: 40px;
}

.projectInformation {
  border-left: 4px solid var(--alternateColor);
  padding-left: 5%;
}

.projectParagraph {
  text-align: left;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.iconFormatting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-top: 0;
}

/* general project outline (reverse) */
.project2 {
  margin: 0;
  margin-right: 10%;
  margin-left: 10%;
  height: auto;
  display: grid;
  grid-template-columns: 55% 45%;
}

.projectHeading2 {
  text-align: right;
  font-size: 40px;
}

.projectInformation2 {
  border-right: 4px solid var(--alternateColor);
  padding-right: 5%;
}

.projectParagraph2 {
  text-align: right;
}

.icons2 {
  display: flex;
  justify-content: flex-end;
}

/* resume section */
.resume {
  color: #fff;
  height: auto;
  background: #009bad;
}

.resumeHeader{
  border-bottom: 3px solid #fff;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
  width: 20%;
}

.resumeInformation{
  margin-left: 30%;
  margin-right: 20%;
  text-align: left;
}




ul {
  list-style-position: inside;
  padding: 0;
}

ul > li {
  font-size:20px;
}

.downloadResume {
  margin-top: 60px;
}

.resumeButton {
  background-color: #fff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 100px;
  color: #128a97;
}

.end {
  height: auto;
  background-color: #fff;
  padding: 2%;
  display: flex;
  justify-content: center;
}
